body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;

}

div {
    background-color:#000000c3;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* div:hover {
    background-color: aliceblue;
} */

.container {
    max-width: 800px;
    margin: 20px auto;
}

h1, h2, h3 {
    color: #efeaea;
}

a {
    color: #e74c3c;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #de897f00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #3498db;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #27ae60;
}

/* Add margin to contact info */
.contact-form {
    margin-bottom: 20px;
    align-items:center;
}
